if SHIELD_LEFTRIGHT_LEFT

config ZMK_KEYBOARD_NAME
    default "LR Keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LEFTRIGHT_LEFT || SHIELD_LEFTRIGHT_RIGHT

config ZMK_SPLIT
    default y

endif